<div class="cardsContainer">
	<ul>
		<li class="alertsContainer">

		</li>
			<li class="columns cola">
				<ul class="col1">
					<li ng-repeat="item in home.items" ng-show="$index % 4 == 0">
						<div class="card">
							<div class="image" ng-class="{hightlightc: hightlightCard}"  ng-mouseenter="hightlightCard = true" ng-mouseleave="hightlightCard  = false">
								<div ng-mouseenter="onImage = true" ng-mouseleave="onImage = false"  class="imageBox">
									<img class="itemImage" ng-src="{{item.image}}" src="">
									<div ng-show="onImage" class="over2 imageBtn">
										<button ng-show="home.showable == true" ng-click="home.borrowClicked(item.id)" class="btn btn-default">
											<span class="glyphicon glyphicon-ok bGly"></span>
										</button>
										<button ng-show="home.showable == false" ng-click="home.borrowDelete(item.id)" class="btn btn-danger">
											<span class="glyphicon glyphicon-remove bGly"></span>
										</button>
									</div>
								</div>
							</div>
							<div class="details">
								<div class="itemDetails">
									<a ui-sref="app.item({itemId: item.id})">
										<h3>{{item.name}}</h3>
									</a>
									<p class="cardDescription">{{item.description}}</p>
									<p>{{item.value}} <span class="glyphicon glyphicon-link"></span></p>
								</div>	
								<a ui-sref="app.user({userId: item.user.id})">
									<div class="userDetails">
										<img class="userImage" ng-src="{{item.user.image}}" src="">
										<h7>{{item.user.name}}</h7>
									</div>
								</a>
							</div>	
						</div>	
					</li>
				</ul>
			</li>
			
			<li class="columns">
				<ul class="col2">
					<li ng-repeat="item in home.items" ng-show="$index % 4 == 1">
						<div class="card">
							<div class="image" ng-class="{hightlightc: hightlightCard}"  ng-mouseenter="hightlightCard = true" ng-mouseleave="hightlightCard  = false">
								<div ng-mouseenter="onImage = true" ng-mouseleave="onImage = false"  class="imageBox">
									<img class="itemImage" ng-src="{{item.image}}" src="">
									<div ng-show="onImage" class="over2 imageBtn">
										<button ng-click="home.borrowClicked(item.id)" class="btn btn-default">
											<span class="glyphicon glyphicon-hand-right bGly"></span>
										</button>
									</div>
								</div>
							</div>
							<div class="details">
								<div class="itemDetails">
									<a ui-sref="app.item({itemId: item.id})">
										<h3>{{item.name}}</h3>
									</a>	
									<p class="cardDescription">{{item.description}}</p>
									<p>{{item.value}} <span class="glyphicon glyphicon-link"></span></p>
								</div>	
								<a ui-sref="app.user({userId: item.user.id})">
									<div class="userDetails">
										<img class="userImage" ng-src="{{item.user.image}}" src="">
										<h7>{{item.user.name}}</h7>
									</div>
								</a>
							</div>	
						</div>	
					</li>
				</ul>
			</li>	

			<li class="columns">
				<ul class="col3">
					<li ng-repeat="item in home.items" ng-show="$index % 4 == 2">
						<div class="card">
							<div class="image" ng-class="{hightlightc: hightlightCard}"  ng-mouseenter="hightlightCard = true" ng-mouseleave="hightlightCard  = false">
								<div ng-mouseenter="onImage = true" ng-mouseleave="onImage = false"  class="imageBox">
									<img class="itemImage" ng-src="{{item.image}}" src="">
									<div ng-show="onImage" class="over2 imageBtn">
										<button ng-click="home.borrowClicked(item.id)" class="btn btn-default">
											<span class="glyphicon glyphicon-hand-right bGly"></span>
										</button>
									</div>
								</div>
							</div>
							<div class="details">
								<div class="itemDetails">
									<a ui-sref="app.item({itemId: item.id})">
										<h3>{{item.name}}</h3>
									</a>	
									<p class="cardDescription">{{item.description}}</p>
									<p>{{item.value}} <span class="glyphicon glyphicon-link"></span></p>
								</div>	
								<a ui-sref="app.user({userId: item.user.id})">
									<div class="userDetails">
										<img class="userImage" ng-src="{{item.user.image}}" src="">
										<h7>{{item.user.name}}</h7>
									</div>
								</a>	
						</div>	
					</li>
				</ul>
			</li>

			<li class="columns">
				<ul class="col4">
					<li ng-repeat="item in home.items" ng-show="$index % 4 == 3">
						<div class="card">
							<div class="image" ng-class="{hightlightc: hightlightCard}"  ng-mouseenter="hightlightCard = true" ng-mouseleave="hightlightCard  = false">
								<div ng-mouseenter="onImage = true" ng-mouseleave="onImage = false"  class="imageBox">
									<img class="itemImage" ng-src="{{item.image}}" src="">
									<div ng-show="onImage" class="over2 imageBtn">
										<button ng-click="home.borrowClicked(item.id)" class="btn btn-default">
											<span class="glyphicon glyphicon-hand-right bGly"></span>
										</button>
									</div>
								</div>
							</div>
							<div class="details">
								<div class="itemDetails">
									<a ui-sref="app.item({itemId: item.id})">
										<h3>{{item.name}}</h3>
									</a>	
									<p class="cardDescription">{{item.description}}</p>
									<p>{{item.value}} <span class="glyphicon glyphicon-link"></span></p>
								</div>	
								<a ui-sref="app.user({userId: item.user.id})">
									<div class="userDetails">
										<img class="userImage" ng-src="{{item.user.image}}" src="">
										<h7>{{item.user.name}}</h7>
									</div>
								</a>
							</div>	
						</div>	
					</li>
				</ul>
			</li>	
	</ul>
</div>